[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pytz = "*"
psycopg2-binary = "*"
wheel = "*"
pillow = "*"
tzdata = "*"

[dev-packages]

[requires]
python_version = "3.11"
